Part 1 (Three Questions)


Write a regex to extract all the numbers with orange color background from the below text in italics.

In [ ]:
string = {"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},{"id":651},{"id":652},{"id":653}],"errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}

In [ ]:
print(string.values())

dict_values([[{'id': 1}, {'id': 2}, {'id': 3}, {'id': 4}, {'id': 5}, {'id': 6}, {'id': 7}, {'id': 8}, {'id': 9}, {'id': 10}, {'id': 11}, {'id': 648}, {'id': 649}, {'id': 650}, {'id': 651}, {'id': 652}, {'id': 653}], [{'code': 3, 'message': '[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)'}]])

In [ ]:
for i in string.values():
  for j in i:
    for k in j.values():
      if type(k) == int:
        print(k)

1
2
3
4
5
6
7
8
9
10
11
648
649
650
651
652
653
3

Since I have not much exerience with Regular expression, I Couldnt do it but was able to find Work around, Hopes this count